.header__text{
    color: var(--text-color);
    font-size: 2.15rem;
    font-weight: 500;    
    position: absolute;
    text-align: center;
}

@media (max-width: 705px) {
    .header__text{
        font-size: 4rem;
    }
  }
@media (max-width: 500px)  {
    .header__text{
        display: inline-block;
        font-size: 2rem;
        margin-top: 2vh;
    }   
}