@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --bg-color: #791BC9;
    --text-color: #fff; 
    --line__erro:  #FF0000;
    --bg__form: #3F0770;
    --descripiton__info: #fff;
    --btn: #1194F6;
}

/* cores
   Card Agencia e conta = width=357px heigth = 357
    form= h51 / w296    
*/

*{
    font-family: 'Roboto', sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    height: auto;
}

@media (max-width: 705px) {
    .content{
        align-items: center;
        justify-items: center;
        align-items: center;
    }
}
