.btn {
    background-color: #1194f6;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: table-cell;
    font-size: 14px;
    height: 50px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}
