.headers__logotype{
    align-items: center;
    display: flex;
    height: 5.95rem;
    justify-content: center;
}

@media (max-width: 705px) {
   .headers__logotype{
   }
  }
@media(max-width:500px){
    .headers__logotype{
        display: block;
        padding: 3vh;
    }
}